/*Root Theme Variables*/
:root{
    --theme-color: rgb(26, 157, 228);
    --theme-bg-dark: #121317;
    --theme-content-dark: #1A1C23;
    --theme-border: #2c2c2c;
    --theme-sc-dark:  #154164;
    --theme-content-inner: #121317;
    --theme-hover-color: rgb(20, 114, 165);
    --theme-content: #1A1C23;
    --text-head: #cdcccc;
    --text-main: #f7f7f7;
    --btn-color: #f7f7f7;
    --outline-light: rgb(26, 157, 228);
    --nav-color: #f7f7f7;
}
/*Dark Theme Variables*/
.dark{
    --theme-border: #2c2c2c;
    --theme-color: rgb(26, 157, 228);
    --theme-bg-dark: #121317;
    --theme-content-dark: #1A1C23;
    --theme-sc-dark:  #154164;
    --theme-content-inner: #121317;
    --theme-hover-color: rgb(20, 114, 165);
    --theme-content: #1A1C23;
    --text-head: #cdcccc;
    --text-main: #f7f7f7;
    --normal-text: rgb(150, 149, 149);
    --nav-color: #f7f7f7;
}
/*Light Theme Variable*/
.light{
    --theme-color: rgb(26, 157, 228);
    --theme-bg-dark: #F9FAFB;
    --theme-border: #e7e5e5;
    --theme-content-dark: #ebebeb;
    --theme-sc-dark:  #154164;
    --theme-content-inner: #F9FAFB;
    --theme-hover-color: rgb(20, 114, 165);
    --theme-content: #ebebeb;
    --text-head: #1A1C23;
    --text-main: #121317;
    --normal-text: rgb(88, 88, 88);
    --nav-color: rgb(42, 42, 42);
}

/* Body */

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('../fonts/Poppins-SemiBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins-Regular', serif;
    font-size: 17px;
    color: #333333;
}



.preload *{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    animation: none;
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}


/* Login Page */

@keyframes anim-box-close {
    0%{
        left: 50%;
        transform: translateX(-50%);
    }

    100%{
        left: 100%;
    }

}

@keyframes anim-box-open {
    0%{
        left: 100%;
        opacity: 0;
    }

    100%{
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}

.register{
    position: absolute;
    background: var(--theme-bg-dark);
    left: 100%;
    pointer-events: none;
}

.login-main{
    position: absolute;
    left: 100%;
    pointer-events: none;
}

.close-box{
    animation: anim-box-close 0.3s ease-in;
    left: 100%;
}

.open-box{
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    animation: anim-box-open  0.3s ease-in;
    pointer-events: all;
    display: flex !important;
}



.animated__input {
    width: 100%;
    display: flex;
    position: relative;
    background-color: transparent;
    height: 3.5rem;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 20px;
    border: 1px solid #ADB3B9;
}

.animated__input input, select {
    box-sizing: border-box;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    color: #ADB3B9;
    font-size: 1.1rem;
    height: 100%;
}

.animated__input label {
    position: absolute;
    top: -3px;
    left: 12px;
    transform: translateY(-50%);
    background-color: var(--theme-bg-dark);
    transition: all 0.5s;
    font-size: 1.1rem;
    padding: 0 5px;
    pointer-events: none;
}

.login{
    height: 100vh;
    width: 100%;
    background: var(--theme-bg-dark);
    display: grid;
    place-items: center;
    position: relative;

}

.lines{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

}

.lines .line-image{
    position: absolute;
    width: 100%;
    bottom: -15%;
    right: -35%;
    z-index: 1;
    pointer-events: none;

}

.lines .line-image .lines img{
    width: 100%;
    overflow: hidden;
    pointer-events: none;

}

.login-box{
    max-width: 625px;
    width: 90%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.register-box{
    max-width: 630px;
    min-width: 290px;
}

.pointer{
    cursor: pointer;
}

.login-box .img-container{
    width: 55%;
    overflow: hidden;
    margin: auto;
}

.img-container{
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login .input-box{
    width: 100%;
}

.login .input-box .input-field{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ADB3B9;
    position: relative;
}

.login .input-box .input-field input{
    flex: 1;
    background: none;
    outline: none;
    border: none;
    color: var(--text-main);
}

.login .input-box .input-field label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    transition: all 0.3s;
    pointer-events: none;
    font-size: 1.1rem;
}

.login .input-box .input-field input:focus + label, .login .input-box .input-field input:valid + label{
    top: -50%;
    font-size: 80%;
}



.input-box .input-field input:focus-within{
   border-bottom: 1px solid #36CE9F;
}

.other-inp-box{
    font-size: 14px;
    align-items: center;
}

header{
    height: 60px;

}
.search-bar{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: var(--theme-content-inner);
    height: 40px;
}

.search-bar input, .search-bar button{
    background-color: transparent;
    border: none;
    color: var(--text-main);
    box-sizing: border-box;
}
.search-bar input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 10px;
    height: 30px;
    font-size: 14px;
    transition: all 0.5s ease-in;
    width: 80%;
}



.search-bar input:focus, .search-bar input:active{
    outline: none;
}

.search-bar button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 30px;
    width: 20%;
}

.search-bar .input-close{
    padding: 0;
    width: 0;
    transition: all 0.5s ease-in;
}

.w-90{
    width: 90%;
}
header{
    border-bottom: 1px solid var(--theme-border);
}

header .nav-menu{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}
header .nav-menu li{
    height: 100%;
    display: grid;
    place-items: center;
    border-bottom: 1px solid transparent;
    width: 15%;
    border-radius: 10px;
    color: var(--nav-color);

}

header .nav-menu li a{
    font-size: 20px;
    text-decoration: none;
    color: var(--nav-color);
    width: 100%;
    padding: 0 5%;
    text-align: center;
    height: 100%;
    display: grid;
    place-items: center;
}

.breadcrumb ul li a{
    font-size: 18px;
    text-decoration: none;
}



header .nav-menu li:hover{
    background-color: var(--theme-color);
    cursor: pointer;
    color: var(--text-main);
}


header .nav-menu li:hover a{
    color: var(--btn-color);
    cursor: pointer;
}

header .nav-menu li a:hover{
    color: var(--btn-color);
    cursor: pointer;
}

header .nav-menu li.active{
    background-color: var(--theme-color);
    cursor: pointer;
    color: var(--btn-color);
}

header .nav-menu li.active > a{
    color: var(--btn-color);
    cursor: pointer;
}

.btn-outline-light {
    color: var(--outline-light);
    border-color: var(--outline-light);
}
.btn-outline-light:hover {
    color: var(--btn-color);
    background-color: var(--outline-light);
    border-color: var(--outline-light);
}

.dropdown .dropdown-menu{
    background-color: var(--theme-content-dark);
}
.dropdown .dropdown-menu li:hover .dropdown-item{
    background-color: var(--theme-content-dark);
    color: var(--theme-color);
}
.dropdown .dropdown-menu li .dropdown-item{
    color: var(--text-head);
}

.breadcrumb{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    padding: 20px 0;
    overflow-y: hidden;
    transition: all 0.5s;
}

.breadcrumb .close-btn{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 24px;
}

.breadcrumb .pro-pic-div{
    border-bottom: 0.5px solid #ADB3B9;
}

.breadcrumb ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.breadcrumb ul li{
    padding: 15px 0;
}

.breadcrumb ul li:hover > a, .breadcrumb ul li:focus > a, .breadcrumb ul li:active{
    color: var(--theme-color);
}

.breadcrumb ul li.active > a{
    color: var(--theme-color);
}

.expand-btn{
 display: none;   
}

@media screen and (max-width: 767px){   
    .nav-item-1{
        flex: 3 !important;
    }
    .nav-item-2{
        display: none !important;
    }
    .nav-item-3{
        display: none !important;
    }
    .expand-btn{
        display: flex;
        justify-content: flex-end;
    }
    .breadcrumb{
        display: flex;
    }
    .bcumb-close{
        right: -70%;
    }
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.image-container{
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.profile-pic{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: #e2e2e2;
}

.dashboard-main{
    display: grid;
    grid-template-columns: 60% 38.5%;
    grid-gap: 1.5rem;
}

.user-container-grid{

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5rem;

}


.user-input{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    box-sizing: border-box;
}



.user-input .g-item-1{
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 1rem 2rem 0;
}

.user-input .g-item-2{
    grid-column: 1 / 3;
    grid-row: 2;
    align-self: center;
    font-size: 20px;
    padding: 0 2rem !important;
}

.user-input .g-item-3{
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 0 2rem 1rem;
}

.user-input, .content-box{
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
}
.content-box{
    cursor: pointer;
}

.content-inner{
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.user-input p{
    width: 100%;
}
.user-input p:focus{
    outline: none;
}

.btn-text:hover{
    color: var(--text-main);
}

.user-btn{
    font-size: 24px;
}

.user-btn:hover{
    color: var(--theme-color);
    background: transparent;
}

.btn-emo{
    padding: 0;
    font-size: 20px;
}

.theme-code{
    background-color: #0d232e;
}

code{
    color: #b2dff7;
}

.row-3{
    grid-row: 2;
    grid-column: 1;
}

.aside{
    background-color: var(--theme-content);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px 0;
}

.aside .heading, .aside .aside-content{
    padding: 10px 20px;
   
}

.aside .aside-content{
    border-top: 0.1px solid rgb(111,111,111);
}

.aside .aside-content:last-child{
    padding: 10px 20px 0;
}

a.theme-color:hover{
    color: var(--theme-hover-color);
}

.btn-rounded{
    border-radius: 20px;
}

.profile-pic-big{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--text-main);
}

.btn-round{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 19px;
}


.aside-content-follow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-more{
    height: 35px;
}

.comment-input{
    width: 100%;
}

.comment-input input{
    background-color: transparent;
    border: 1px solid #ADB3B9;
    width: 100%;
    color: var(--text-main);
    padding: 10px 5px;
    border-radius: 20px;

}

.comment-input input:focus, .comment-input input:active{
    outline: none;
}

footer{
    box-sizing: border-box;
    padding: 20px 0;
}

footer ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

footer ul li a{
    text-decoration: none;
    font-size: 14px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-row-gap: 25px;
}

footer .u-line{
    width: 90%;
    margin: auto;
    height: 1px;
    background-color: rgba(150, 149, 149, 0.6);
}
.intro-anim{
    animation: anim-intro 0.4s ease-in;
}

/*User Profile*/

.cover-image{
    height: 45vh;
    background: url("../images/cover.jpg") no-repeat fixed;
    background-size: cover;
    border-radius: 10px;
}

.profile-pic-xl{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
}


.profile-picture-m-up{
    margin-top: -9rem;
}

@keyframes anim-intro {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }

}

@media screen and (max-width: 991px) and (min-width: 768px){
    .aside-content-follow{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .aside-content-follow button{
        margin-top: 0.75rem;
        width: 100%;
    }
}

@media screen and (max-width: 1400px){
    .user-input{
        grid-template-columns: 10% 89%;
    }
}

@media screen and (max-width: 992px){
    .dashboard-main{
        grid-template-columns: 67% 33%;
    }
    .user-input{
        grid-template-columns: 13% 86%;
    }
}

@media screen and (max-width: 767px){
    .user-container-grid{
        grid-template-columns: 1fr !important;

    }
    .dashboard-main{
        grid-template-columns: 1fr;
    }
    .mt-tab-1{
        margin-top: 0.35rem !important;
    }

    .row-3{
        grid-row: 3;
        grid-column: 1;
    }
        
    .content-inner{
        box-sizing: border-box;
        padding: 1rem 0.75rem;
    }
    .user-input .g-item-1{
       
        padding: 1rem 0.75rem 0;
    }
    
    .user-input .g-item-2{
        
        font-size: 17px;
        padding: 0 0.75rem !important;
    }
    
    .user-input .g-item-3{
        padding: 0 0.75rem 1rem;
    }

}

@media screen and (max-width: 525px){
    .container{
        width: 96.5%;
        margin: auto;
        padding: 0;
    }
}

@media screen and (max-width: 375px){
    .aside-content-follow{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .aside-content-follow button{
        margin-top: 0.75rem;
        width: 100%;
    }
}

